## Test Harness for Utility Functions

This is an example file to make it a little easier to test an external python file. This won't test if your code makes sense or is good, but it will test if it is functional. 

Find the comments below and udate them to match your content. My example file is used below, you probably want to follow a similar pattern, but the function names will be different, there will be arguments, the setup/configuration will be different, etc... This is just a trial run to make things run, and verify that it works.

In [1]:
import pandas as pd
import numpy as np

#CUSTOMIZE HERE
#import the file by name here. If it is in the same folder, it is simple
import ml_utils

In [2]:
#Load some example data.
df = pd.read_csv("data/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#CUSTOMIZE HERE
#Create an object of your class with the data. 
#Your arguments and function names will probably be different. 
df_eda = ml_utils.edaDF(df,"Survived")
print(df_eda.giveTarget())

Survived

In [4]:
#CUSTOMIZE HERE
#Do whatever setup/configuration you need. 
#E.g. in mine I define which features are categorical, and which are numeric
#What you have here may vary greatly. 
df_eda.setCat(["Pclass", "Sex", "Embarked"])
df_eda.setNum(["Age", "SibSp", "Parch", "Fare"])

In [5]:
#CUSTOMIZE HERE
#Call your function to produce the EDA output. 
#You may have one or more function calls, or parameters to confige the output.
df_eda.fullEDA()

Tab(children=(Output(), Output(), Output()), _titles={'0': 'Info', '1': 'Categorical', '2': 'Numerical'})